/*newest style*/
#main-header{
     color: #202020;
     font-family: 'Montserrat', sans-serif;
}

#wrapper{
 overflow:hidden;
 color: #202020;
 height: 150px;
}

#c1{
     position: absolute;
     left: 30px;
     height: 150px;
     float:left;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;

}

#c1 p {
     text-align: center;
}

#c2{
     position: absolute;
     right: 30px;
     height: 150px;

     float:right;
}

#navbar{
     padding-top: 50px;
     padding-left: 10px;
     color:#fff;
     right: 100px;
}

#navbar ul{
     list-style: none;
}

#navbar li{
     padding-left: 20px;
     display:inline;
}

#navbar a{
     color:white;
     text-decoration: none;
     color: #202020;
     font-family: Montserrat;
     font-size: 20px;
     letter-spacing: 1px;
     line-height: 24px;
     padding-right:15px;
}

.wrapper2{
     position: relative;
     overflow:hidden;
     color: #202020;
     font-family: Montserrat;
     font-size: 45px;
     font-weight: 900;
     letter-spacing: 5px;
     line-height: 44px;
     height: 600px;
}